@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
      font-family: "Noto Sans", sans-serif;
      padding: 0;
      margin: 0;
        background-color: #3d0010;

}

header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


h1 {
     font-family: "Josefin Slab", serif;
     color:rgb(255, 255, 255);
     border-left: 3px white solid;
     margin-left: 10px;
     padding-left: 10px;
     font-size: 80px;
     font-weight: 400;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 10px;
}
.navul{
    list-style: none;
    display: flex;
    align-items: center;
    gap:30px;
}

.nava{
    color:white;
    text-decoration: none;
    font-size: 24px;
}
.sub{
    background-color: #66051C;
    font-size: 24px;
    border-radius: 10px;
    color:white;
    padding: 8px 50px;
}

main {
  text-align: center;
  padding: 20px;
}

.directions, .writers, .books {
background: #000000;
background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(253, 187, 45, 0) 100%);
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  margin: 20px auto;
  border-radius: 15px;
  padding: 20px;
  width: 1300px;
  height: 800px;
  border: 3px solid;
border-image: 40px linear-gradient(to bottom, #ffffff 0%, #3a4fd500 100%) 1;

border-top-left-radius: 40px; border-bottom-right-radius: 50px;
}


h2 {
  margin-bottom: 20px;
  font-weight: 600;
  color: white;
  font-weight: 400;
}
h3{
  margin-bottom: 20px;
  font-weight: 600;
  color: white;
  font-weight: 400;
}

p{ 
 color: white;
  font-weight: 400;
}



.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card {
  background-color: #100006;
  border-radius: 12px;
  padding: 10px;
  width: 300px;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 100%;
  border-radius: 12px;
}
.card p {
  margin-top: 8px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 0;
  background-color: #2a0010;
  text-align: left;
  font-size: 14px;
}

.footer a {
  color: #ccc;
  text-decoration: none;
}
.footer a:hover {
  color: #ff4b6b;
}
.rights {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: #777;
  font-size: 12px;
}

a{
  text-decoration: none;
  color: #ffffff;
}


@media (max-width: 600px) {
    h1{
     font-size: 35px;
    }
    .nava{
      font-size: 10px;
      padding: none;
    }
    .navul{
        gap:7px;
        }
    img {
       width: 100%; 
      }
    .sub{
        display: flex;
        justify-content: center;
        font-size: 10px;
        border-radius: 10px;
        color:white;
        padding: 4px 20px;
    
      }
      h2{
        font-size: 15px;
      }
      .cards {
        gap: 10px;
      }

      .card {

        padding: 10px;
        width: 70px;
      }
      .directions, .writers, .books {
         
            padding: 20px;
            width: 300px;
            height: 400px;
            border: 3px solid;
          border-image: 40px linear-gradient(to bottom, #ffffff 0%, #3a4fd500 100%) 1;

          border-top-left-radius: 40px; border-bottom-right-radius: 50px;
          }
      p{
        font-size: 7px;
      }

      .century-buttons button,
      .book-buttons button {
      
        width: 280px;
        height: 80px;
        font-size: 20px;
        font-weight: 400;
      }

      .contacts, .socials{
        font-size: 10px;
      }
    }