@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
      font-family: "Noto Sans", sans-serif;
      padding: 0;
      margin: 0;
        background-color: #3d0010;

}

header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


h1 {
     font-family: "Josefin Slab", serif;
     color:rgb(255, 255, 255);
     border-left: 3px white solid;
     margin-left: 10px;
     padding-left: 10px;
     font-size: 80px;
     font-weight: 400;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 10px;
}
.navul{
    list-style: none;
    display: flex;
    align-items: center;
    gap:30px;
}

.nava{
    color:white;
    text-decoration: none;
    font-size: 24px;
}
.sub{
    background-color: #66051C;
    font-size: 24px;
    border-radius: 10px;
    color:white;
    padding: 8px 50px;
}

main {
  text-align: center;
  padding: 20px;
}

.directions, .writers, .books {
background: #000000;
background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(253, 187, 45, 0) 100%);
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  margin: 20px auto;
  border-radius: 15px;
  padding: 20px;
  width: 1300px;
  height: 700px;
  border: 3px solid;
border-image: 40px linear-gradient(to bottom, #ffffff 0%, #3a4fd500 100%) 1;

border-top-left-radius: 40px; border-bottom-right-radius: 50px;
}


h2 {
  margin-bottom: 20px;
  font-weight: 600;
  color: white;
  font-weight: 400;
}

p{ 
 color: white;
  font-weight: 400;
}



.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card {
  background-color: #100006;
  border-radius: 12px;
  padding: 10px;
  width: 200px;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 100%;
  border-radius: 12px;
}
.card p {
  margin-top: 8px;
}

.century-buttons, .book-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;


}

.century-buttons1, .book-buttons1 {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 50px;
  width: 600px;
  height: 140px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(90deg, #6b001a 0%, #000000 50%, #6b001a 100%);
  border: none;
  font-size: 48px;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.century-buttons button,

.book-buttons button {
 
  width: 600px;
  height: 140px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(90deg, #6b001a 0%, #000000 50%, #6b001a 100%);
  border: none;
  font-size: 48px;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.century-buttons button:hover,
.book-buttons button:hover,
.century-buttons1 button:hover,
.book-buttons1 button:hover {

  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(160, 0, 38, 0.7);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 0;
  background-color: #2a0010;
  text-align: left;
  font-size: 14px;
}

.footer a {
  color: #ccc;
  text-decoration: none;
}
.footer a:hover {
  color: #ff4b6b;
}
.rights {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: #777;
  font-size: 12px;
}
